/*	--------------------------------------------------
:: Animal Kingdom CSS 
-------------------------------------------------- */
body {
	font-size: 12px;
	font-family: Arial;
	font-style: normal;
	color: #868686;
	line-height: 23px;
	position: relative;
	height: 100%; 
	width: 100%;
    margin: 0px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.logo {
	padding-bottom: 40px;
}

section#main { 
	background-color: #ffffff; 
	padding: 20px 0; 
	color: #000000; 
	margin-top: 20px; 
	font-size: 11px; 
	font-family: 'Arial', sans-serif; 
	position: relative; 
	z-index: 100;}

.quote {
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 6px;
	
}

.citation{
	font-size: 10px;
	line-height: 0;
	padding-bottom: 5px;

}

.header1 {
	font-size: 20px;
	color: #25AAE1;
	font-weight: 700;
	text-transform: uppercase;

}

.header2 {
	font-size: 20px;
	color: #25AAE1;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5px;

}

.extra {
	border-right: 1px solid;
}

.footer {
	text-align: center;
	margin-top: 20px;
	color: #3d3d3d;
}



	



